POSTGRES_NAME= postgres
POSTGRES_USER= postgres
POSTGRES_PASSWORD= postgres
POSTGRES_HOST= db
POSTGRES_PORT= 5432

DEBUG=True
DJANGO_SETTINGS_MODULE= settings.dev
DJANGO_SERVER= django
DJANGO_SERVER_PORT= 8000


ANGULAR_ENV= development

RAZORPAY_KEY=XXXXXXXXXXXXXXXXX
RAZORPAY_SECRET=XXXXXXXXXXXXXXXXXXXXX
RAZORPAY_WEBHOOK_SECRET=XXXXXXXXXXXXXXXXXXX

#Email
EMAIL_REQUIRED= True
EMAIL_HOST= example.com
EMAIL_PORT= 465
EMAIL_HOST_USER=example@host.com
EMAIL_HOST_PASSWORD=example
EMAIL_USE_SSL= True

#Notification Email
NOTIFICATION_EMAIL= example

#Encryption Key(if not set, a random key will be generated)
ENCRYPTION_KEY=

Ticketify_API_SERVER= http://localhost:8000

#Celery
CELERY_BROKER_URL= redis://redis:6379/0
CELERY_RESULT_BACKEND= redis://redis:6379/0

#Redis
REDIS_HOST_URL = redis://redis:6379

#CORS-ORIGIN
CSRF_TRUSTED_ORIGINS= 'http://localhost:4200, https://localhost:4200'