<div class="container">
  <div class="row justify-content-center align-items-center" style="height: 100vh;">
    <div class="col-md-6">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Login</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <form (ngSubmit)="login()">
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Username</mat-label>
              <input matInput required [(ngModel)]="username" name="username">
            </mat-form-field>
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Password</mat-label>
              <input matInput required [(ngModel)]="password" type="password" name="password">
            </mat-form-field>
            <button mat-raised-button color="primary" type="submit" class="full-width">Login</button>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
