/* login.component.css */
.container {
    background-color: #000; /* Set the background color to black */
    color: white;
    max-width: 100%;
  }
  
  .full-width {
    width: 100%;
  }
  
  .mat-card {
    margin-top: 30px;
    padding: 20px;
    color: white; /* Set the text color to white */
  }

  
  .row {
    height: 100%;
  }
  