.ticket-card {
  background-color: #424242;
  color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  text-align: center;
  text-align: center;
}


  .dialog-style {
    background-color: black;
    color: white;
    padding: 40px;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    max-height: max-content;
  }

  .ticket-details {
    color: white;
    padding: 40px;
    border-radius: 10px;
    width: 100%;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .ticket-details-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
  }
  
  .button-container button {
    margin: 5px;
  }

  @media (max-width: 600px) {
    .ticket-card {
      width: 90%;
      max-width: 400px; /* Adjust the maximum width based on your design */
      margin: 0 auto;
    }
  
    .ticket-details-content {
      flex-direction: column;
      margin: 10px;
    }
  
    .ticket-details-content p {
      margin: 8px 0;
    }
  
    .button-container {
      flex-direction: column;
    }
  
    .button-container button {
      margin: 5px 0;
    }
  }

  .mat-card.scrollable-content {
    overflow: hidden;
    display: flex;
    flex-direction: column;
  
    > .mat-card-title-group {
      display: block;
    }
  
    > .mat-card-content {
      overflow-y: auto;
    }
  }
  