<div class="container d-flex flex-column justify-content-center align-items-center" style="height: 100vh;">
    <mat-card class="p-4 text-center custom-card" style="max-width: 400px;">
      <!-- Display a loading message while waiting for the ticket URL -->
      <mat-card-header>
        <mat-card-title>Payment Completed</mat-card-title>
      </mat-card-header>
      <mat-card-content class="custom-card-content">
        <p>
          Your Ticket will be mailed to you post verification.
        </p>
        <p>
          Thank you for your patience.
        </p>
      </mat-card-content>
    </mat-card>
  </div>
  