<nav class="navbar bg-black border-bottom border-bottom-dark" data-bs-theme="dark">
  <div class="container-fluid">
    <ng-container *ngIf="eventdata && eventdata.length > 0">
      <img *ngIf="eventdata[0].image" [src]="eventdata[0].image" alt="Logo" height="30" class="d-inline-block align-text-top" />
    </ng-container>    
    <ng-container *ngIf="eventdata && eventdata.length > 0">
      <img *ngIf="eventdata[0].sponsor_logo" [src]="eventdata[0].sponsor_logo" alt="Logo" height="30" class="d-inline-block align-text-top" />
    </ng-container>    
    </div>
</nav>
<div class="row container-fluid">
    <div class="col-lg-8">
      <div class="card text-light mb-3 customer-interface-card">
        <div class="card-body">
          <form>
            <div class="input-container">
              <div class="mb-3">
                <label for="name" class="form-label light-text">Name</label>
                <input type="text" class="form-control grey-input small-input" id="name" aria-describedby="nameHelp" autocomplete="name" />
              </div>
              <div class="mb-3">
                <label for="email" class="form-label light-text">Email address</label>
                <input type="email" class="form-control grey-input small-input" id="email" aria-describedby="emailHelp" autocomplete="email" />
              </div>
              <div class="mb-3">
                <label for="phone" class="form-label light-text">Phone Number</label>
                <input type="text" class="form-control grey-input small-input" id="phone" aria-describedby="phoneHelp" autocomplete="tel" />
              </div>
            </div>                       
            <div class="mb-3">
              <label class="light-text">Are you a College Student or School Student?</label>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="studentType" id="collegeRadio" value="COLLEGE" (change)="onStudentTypeChange($event)">
                <label class="form-check-label" for="collegeRadio">
                  College
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="studentType" id="studentRadio" value="SCHOOL" (change)="onStudentTypeChange($event)">
                <label class="form-check-label" for="studentRadio">
                  School
                </label>
              </div>
            </div>
            <div class="mb-3" *ngIf="studentType === 'COLLEGE'">
              <label for="institutename" class="form-label light-text">Institute Name</label>
              <input type="text" class="form-control grey-input" id="institutename" aria-describedby="institutename" autocomplete="institutename" />
            </div>
            <div class="mb-3" *ngIf="studentType === 'SCHOOL'">
              <label for="institutename" class="form-label light-text">School Name</label>
              <input type="text" class="form-control grey-input" id="institutename" aria-describedby="institutename" autocomplete="institutename" />
            </div>
            <div class="mb-3" *ngIf="studentType === 'SCHOOL'">
              <div class="border border-dark p-3">
                <label class="light-text">Upload Your Student ID</label>
                <input type="file" class="form-control grey-input-file" accept=".jpg, .jpeg, .png" (change)="onFileChange($event)"/>
                <div class="mb-3" *ngIf="selectedImageSrc">
                  <img [src]="selectedImageSrc" alt="Selected Image" style="max-width: 100%; max-height: 100px;" />
                </div>
              </div>
              <div class="mt-2">
                <p class="light-text">By uploading your Student ID, you agree to the terms and conditions for students.</p>
                <p class="light-text">Tickets to school students will not be received instantly it will be sent within 48hrs of registration after manual scrutiny.</p>
              </div>
            </div>
            <div class="mb-3">
              <label for="referral" class="form-label light-text">Referral (Optional)</label>
              <input type="text" class="form-control grey-input" id="referral" aria-describedby="referral" autocomplete="referral" />
            </div>
            <div class="my-5 text-center" *ngIf="eventdata && eventdata.length > 0">
              <p class="section-description light-text"> Upto {{eventdata[0].flagship_event_included_allowed}} Flagship, {{eventdata[0].sub_events_included_allowed}} Regular Events included in Ticket Price</p>
            </div>
            <div class="text-center" *ngIf="eventdata && eventdata.length > 0">
              <button class="btn btn-primary" *ngIf="eventdata[0].rules_url.length > 0">
                <a href="{{eventdata[0].rules_url}}" target="_blank" class="text-white text-decoration-none light-text">Download Rule Book</a>
              </button>
            </div>
            <mat-list>
              <div *ngFor="let event of SubEvents">
              <mat-card class="customer-interface-card" *ngIf="event.type == 'student' && studentType === 'SCHOOL'">
                <div class="ribbon">
                  <span class="light-text">School Exclusive</span>
                </div>
                <div class="row d-flex align-items-center">
                  <div class="col-1 order-1">
                    <button mat-icon-button (click)="toggleDescription(event, $event)">
                      <mat-icon>{{
                        event.showDescription ? "remove" : "add"
                        }}</mat-icon>
                    </button>
                  </div>
                  <div class="col order-2">
                    <mat-card-header>
                      <mat-card-title class="headline">{{ event.name }}</mat-card-title>
                    </mat-card-header>
                  </div>
                  <div class="col order-4 card-image-container" *ngIf="!isMobile">
                    <img *ngIf="event.image" [src]="event.image" class="card-img" alt="Event Image" />
                  </div>
                  <div class="col select-button order-last">
                    <mat-card-actions>
                      <mat-checkbox (change)="SelectSubEvent($event, event)" color="primary" class="light-text">Select</mat-checkbox>
                    </mat-card-actions>
                  </div>
                </div>
                <mat-card-content [hidden]="!event.showDescription">
                  <div class="expandable-section">
                    <p class="light-text">{{ event.description }}</p>
                  </div>
                </mat-card-content>
              </mat-card>
              </div>
            </mat-list>
            <mat-list>
              <div *ngFor="let event of SubEvents">
              <mat-card class="customer-interface-card" *ngIf="event.type != 'student'">
                <div class="ribbon" *ngIf="event.type == 'premium'">
                  <span class="light-text">Flagship</span>
                </div>
                <div class="row d-flex align-items-center">
                  <div class="col-1 order-1">
                    <button mat-icon-button (click)="toggleDescription(event, $event)">
                      <mat-icon>{{
                        event.showDescription ? "remove" : "add"
                        }}</mat-icon>
                    </button>
                  </div>
                  <div class="col order-2">
                    <mat-card-header>
                      <mat-card-title class="headline">{{ event.name }}</mat-card-title>
                    </mat-card-header>
                  </div>
                  <div class="col order-4 card-image-container" *ngIf="!isMobile">
                    <img *ngIf="event.image" [src]="event.image" class="card-img" alt="Event Image" />
                  </div>
                  <div class="col select-button order-last">
                    <mat-card-actions>
                      <mat-checkbox (change)="SelectSubEvent($event, event)" color="primary" class="light-text">Select</mat-checkbox>
                    </mat-card-actions>
                  </div>
                </div>
                <mat-card-content [hidden]="!event.showDescription">
                  <div class="expandable-section">
                    <p class="light-text">{{ event.description }}</p>
                  </div>
                </mat-card-content>
              </mat-card>
              </div>
            </mat-list>
            <mat-card class="customer-interface-card" *ngIf="Addons">
              <mat-card-header>
                <mat-card-title>Add On</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <mat-selection-list #addonlist (selectionChange)="onAddonSelectionChange(addonlist)">
                  <mat-list-option class="addon" *ngFor="let addon of Addons" [value]="addon">
                    <fa-icon [icon]="['fas', addon.icon]"></fa-icon>
                    {{ addon.name }} - {{ addon.price | currency : "INR" }}
                  </mat-list-option>
                </mat-selection-list>
              </mat-card-content>
            </mat-card>
          </form>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="container mt-5 payment-interface-card rounded">
        <mat-card class="payment-internal-interface-card text-light rounded">
          <mat-card-header class="text-light rounded" style="padding: 10px; margin-bottom: 10px ;">
            <mat-card-title class="headline" style="font-size: 20px;">Payment Summary</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div class="row mb-3">
              <div class="col-md-6 ">
                <h4 class="light-text">Event</h4>
              </div>
              <div class="col-md-6">
                <p *ngFor="let subevent of SubEventsSelected">
                  <ng-container *ngIf="subevent.given">
                    <div class="event-details light-text">
                      {{ subevent.name }}
                      <span class="free-tag">Free</span>
                    </div>
                  </ng-container>
                  <ng-container *ngIf="!subevent.given">
                    {{ subevent.name }} {{ subevent.price | currency : 'INR' }}
                  </ng-container>
                </p>                
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-md-6">
                <h4 class="light-text">Addons</h4>
              </div>
              <div class="col-md-6">
                <p>{{ AddonsSelected.length }}</p>
              </div>
            </div>
            <div class="row mb-3" *ngIf="isDiscountApplied">
              <div class="col-md-6">
                <h4 class="light-text">Discount</h4>
              </div>
              <div class="col-md-6">
                <p>{{ DiscountValue | currency : "INR" }}</p>
              </div>
            </div>
            <hr>
            <div class="row mb-3">
              <div class="col-md-6">
                <h4 class="light-text">Total</h4>
              </div>
              <div class="col-md-6">
                <p>{{ TotalPrice | currency : "INR" }}</p>
              </div>
            </div>
            <div class="row" *ngIf="studentType != 'SCHOOL'">
              <div class="col-md-6">
                <h4 class="light-text">Promo Code</h4>
              </div>
              <div class="col-md-6" *ngIf="!isDiscountApplied">
                <div *ngIf="!showCouponInput">
                  <button mat-raised-button style="background-color: #E91E63;" (click)="toggleCouponInput()">Apply Coupon</button>
                </div>
                <div *ngIf="showCouponInput" class="mt-3">
                  <mat-form-field style="max-width: -moz-available;">
                    <input matInput type="text" [(ngModel)]="couponCode" placeholder="Coupon code">
                  </mat-form-field>
                  <button mat-raised-button color="accent" (click)="applyCoupon(couponCode)">Apply</button>
                </div>
              </div>
            </div>
            <hr>
            <div class="row mb-3">
              <div class="col-md-12">
                <mat-checkbox [(ngModel)]="agreeToTerms" *ngIf="eventdata && eventdata.length > 0">
                  I agree to the <a href="{{eventdata[0].terms_url}}" class="terms-link">terms and conditions</a>
                </mat-checkbox>
              </div>
            </div>                   
            <div class="row mt-3">
              <div class="col-md-12">
                <button mat-raised-button class="bg-success" style="width: 100%;" (click)="Checkout()" [disabled]="!agreeToTerms">Pay</button>
              </div>
            </div>
            <div class="row mb-3" *ngIf="eventdata[0].additional_info">
              <div class="col-md-12">
                <p class="additioanl-info light-text">{{eventdata[0].additional_info}}</p>
              </div>
            </div> 
          </mat-card-content>
        </mat-card>
      </div>
      </div>
      <footer class="bottom-header bg-primary text-light text-center p-3">
        <div class="text-center p-3 headline" style="background-color: rgba(0, 0, 0, 0.2);">
          © 2024 Ticketless. Hosted By 
          <a class="text-white" href="https://github.com/Suryansh5545">Suryansh Pathak</a>
        </div>
      </footer>
    </div>
<div class="loading-overlay" [style.display]="loadingService.isLoading ? 'flex' : 'none'">
  <mat-spinner></mat-spinner>
</div>loc