@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

.headline {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}

.normal-text {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

.light-text {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: lighter;
  font-style: normal;
}


.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Make sure it's above other elements */
}


.custom-element {
  background-color: #121212;
  }
  

.customer-interface-card {
  background-color: #000000;
  width: auto; /* Adjust the width as per your requirements */
  margin: 10px; /* Adjust the margin as per your requirements */
  border: 1px solid #ccc; /* Add a border as the bounding box */
  transition: box-shadow 0.3s ease;
}

.payment-interface-card {
  // background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
  width: auto; /* Adjust the width as per your requirements */
  margin: 10px; /* Adjust the margin as per your requirements */
  position: sticky; 
  padding: 10px;
  transition: box-shadow 0.3s ease;
  top: 0;
  border: 2px solid rgba(255, 255, 255, 0.5);
}

.payment-internal-interface-card {
  background-color: #000000;
  width: auto; /* Adjust the width as per your requirements */
  margin: 10px; /* Adjust the margin as per your requirements */
  position: sticky; 
  padding: 10px;
  border-radius: 2px solid #ccc; /* Add a border as the bounding box */
  transition: box-shadow 0.3s ease;
  top: 0;
}

.customer-interface-card:hover {
  box-shadow: 0 0 10px 3px rgba(0, 255, 0, 0.3);
}

.card-image-container {
  display: block;
  height: 200px; /* Adjust the maximum height as needed */
  overflow: hidden;
  width: auto;
}

.card-img {
  width: auto;
  max-height: 100%;
}

.checkout {
  width: 100%;
  margin: 10px;
}

.select-button {
  padding-left: 30%;
}

@media (max-width: 1250px) {
  .select-button {
    padding-left: 20%; /* Adjust the padding value for screens below 1250px */
  }
}

@media (max-width: 780px) {
  .card-image-container {
    display: none;
  }
  .select-button {
    padding-left: 0%; /* Adjust the padding value for screens below 1250px */
  }
}

fa-icon {
  display: inline-block;
}

@media (max-width: 500px) {
  mat-card-header {
    padding: 8px 8px 0;
  mat-card-title {
    font-size: 0.8rem;
  }
}
fa-icon {
  display: none;
}
}

.ribbon {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #e91e63; /* Ribbon background color */
  color: #fff; /* Ribbon text color */
  padding: 5px 15px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);
  transform: translate(50%, -50%);
  z-index: 1;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2); /* Add a shadow for depth */
}


.ribbon span {
  font-size: 14px;
  font-weight: bold;
}

.event-details {
  display: flex; /* Display its children inline */
  align-items: center; /* Vertically align children */
}

.free-tag {
  margin-left: 5px; 
  padding: 5px 10px; 
  background-color: green; 
  color: white;
  border-radius: 5px;
}

.terms-link {
  text-decoration: underline;
  color: #007bff;
  cursor: pointer;
}

.terms-link:hover {
  text-decoration: underline;
}

.section-description {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.additioanl-info {
  font-size: 0.8rem;
  font-weight: bold;
  margin: 10px 0;
}

.grey-input {
  background-color: #000000; /* Change this color to the shade of grey you prefer */
}

.form-control {
  border: var(--bs-border-width) solid #ffffff;
  color: #fff;
}

.container-fluid {
  background-color: #000000;
}