<div class="container">
    <div class="row justify-content-center mt-4">
      <div class="col-md-12">
        <mat-card class="search-card">
          <div class="row justify-content-center">
            <div class="col-md-12 col-lg-8">
              <mat-form-field class="form-field">
                <mat-label>Select device</mat-label>
                <mat-select #select1 (selectionChange)="action.playDevice(select1.value)">
                  <mat-option *ngFor="let c of action.devices.value; let i = index" [value]="c.deviceId">
                    {{ c.label }}
                  </mat-option>
                </mat-select>
              </mat-form-field>                                  
              <ngx-scanner-qrcode #action="scanner" (event)="onEvent($event, action)"></ngx-scanner-qrcode>
            </div>            
          </div>
        </mat-card>
      </div>
    </div>
  </div>
  