<div class="row mt-4" *ngIf="TicketData">
    <div class="col-md-12 row-card">
          <table mat-table [dataSource]="TicketData" class="mat-elevation-z8">
  
              <!-- Define columns -->
              <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef>ID</th>
                <td mat-cell *matCellDef="let ticket">{{ ticket.id }}</td>
              </ng-container>
  
              <ng-container matColumnDef="customer_email">
                <th mat-header-cell *matHeaderCellDef>Email</th>
                <td mat-cell *matCellDef="let ticket">{{ ticket.customer_email }}</td>
              </ng-container>
          
              <ng-container matColumnDef="customer_phone">
                <th mat-header-cell *matHeaderCellDef>Phone</th>
                <td mat-cell *matCellDef="let ticket">{{ ticket.customer_phone }}</td>
              </ng-container>
          
              <ng-container matColumnDef="customer_name">
                <th mat-header-cell *matHeaderCellDef>Name</th>
                <td mat-cell *matCellDef="let ticket">{{ ticket.customer_name }}</td>
              </ng-container>
  
              <ng-container matColumnDef="referral">
                <th mat-header-cell *matHeaderCellDef>Referral</th>
                <td mat-cell *matCellDef="let ticket">{{ ticket.referral }}</td>
              </ng-container>
  
              <ng-container matColumnDef="ticket_view">
                <th mat-header-cell *matHeaderCellDef>Actions</th>
                <td mat-cell *matCellDef="let ticket"><button mat-raised-button color="primary" (click)="ViweTicket(ticket)">View</button></td>
              </ng-container>
          
              <!-- Set the displayed columns -->
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
      </div>
  </div>