<div class="row mt-4">
    <div class="col-md-12 row-card">
      <mat-card class="search-card">
        <div class="row">
          <div class="col-md-12 col-lg-4">
            <mat-form-field>
              <input matInput placeholder="Search by Email" [(ngModel)]="email" (keyup.enter)="search()">
            </mat-form-field>
          </div>
          <div class="col-md-12 col-lg-4">
            <mat-form-field>
              <input matInput placeholder="Search by Phone" [(ngModel)]="phone" (keyup.enter)="search()">
            </mat-form-field>
          </div>
          <div class="col-md-12 col-lg-4">
            <mat-form-field>
              <input matInput placeholder="Search by Name" [(ngModel)]="name" (keyup.enter)="search()">
            </mat-form-field>
          </div>
          <div class="col-md-12 col-lg-4">
            <mat-form-field>
              <input matInput placeholder="Search by Referral" [(ngModel)]="referral" (keyup.enter)="search()">
            </mat-form-field>
          </div>
          <div class="col-md-12 col-lg-4" style="margin: 10px;">
            <p>Total Tickets: <strong>{{ TotalTickets }}</strong></p>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-md-12">
            <button mat-raised-button color="primary" (click)="search()">Search</button>
            <button mat-raised-button color="primary" style="margin: 10px;" (click)="downloadexcel()">Download Excel</button>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
<div class="row mt-4" *ngIf="TicketData">
  <div class="col-md-12 row-card">
        <table mat-table [dataSource]="TicketData" class="mat-elevation-z8">

            <!-- Define columns -->
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef>ID</th>
              <td mat-cell *matCellDef="let ticket">{{ ticket.id }}</td>
            </ng-container>

            <ng-container matColumnDef="customer_email">
              <th mat-header-cell *matHeaderCellDef>Email</th>
              <td mat-cell *matCellDef="let ticket">{{ ticket.customer_email }}</td>
            </ng-container>
        
            <ng-container matColumnDef="customer_phone">
              <th mat-header-cell *matHeaderCellDef>Phone</th>
              <td mat-cell *matCellDef="let ticket">{{ ticket.customer_phone }}</td>
            </ng-container>
        
            <ng-container matColumnDef="customer_name">
              <th mat-header-cell *matHeaderCellDef>Name</th>
              <td mat-cell *matCellDef="let ticket">{{ ticket.customer_name }}</td>
            </ng-container>

            <ng-container matColumnDef="referral">
              <th mat-header-cell *matHeaderCellDef>Referral</th>
              <td mat-cell *matCellDef="let ticket">{{ ticket.referral }}</td>
            </ng-container>
        
            <ng-container matColumnDef="selected_sub_event">
              <th mat-header-cell *matHeaderCellDef>Sub Event</th>
              <td mat-cell *matCellDef="let ticket">
                <ul>
                  <li *ngFor="let subEvent of ticket.selected_sub_events">{{ subEvent.name }}</li>
                </ul>
              </td>
            </ng-container>
        
            <ng-container matColumnDef="selected_addon">
              <th mat-header-cell *matHeaderCellDef>Addon</th>
              <td mat-cell *matCellDef="let ticket">
                <ul>
                  <li *ngFor="let addon of ticket.selected_addons">{{ addon.name }}</li>
                </ul>
              </td>
            </ng-container>

            <ng-container matColumnDef="ticket_view">
              <th mat-header-cell *matHeaderCellDef>Actions</th>
              <td mat-cell *matCellDef="let ticket"><button mat-raised-button color="primary" (click)="ViweTicket(ticket)">View</button></td>
            </ng-container>
        
            <!-- Set the displayed columns -->
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
    </div>
</div>
  
  